{
  "openapi": "3.0.0",
  "info": {
    "title": "PyCostAudit API",
    "description": "Cost tracking and optimization for Claude Code. Track spending across 15 hidden dimensions (file format 36x, operation type 55x, MCP 10-100x, etc.)",
    "version": "0.4.1",
    "contact": {
      "name": "Georgi Mammen Mullassery",
      "email": "mullassery@gmail.com",
      "url": "https://github.com/Mullassery"
    },
    "license": {
      "name": "MIT",
      "url": "https://opensource.org/licenses/MIT"
    }
  },
  "servers": [
    {
      "url": "https://api.github.com/repos/Mullassery/PyCostAudit",
      "description": "GitHub API - PyCostAudit Repository"
    }
  ],
  "tags": [
    {
      "name": "Operations",
      "description": "Track individual operations"
    },
    {
      "name": "Sessions",
      "description": "Manage cost tracking sessions"
    },
    {
      "name": "Analysis",
      "description": "Analyze costs and get recommendations"
    }
  ],
  "paths": {
    "/track_operation": {
      "post": {
        "tags": ["Operations"],
        "summary": "Track a single LLM operation cost",
        "description": "Record an operation (file read, API call, browser op, etc.) and calculate its cost with multipliers applied",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": ["operation_type", "tokens_input", "tokens_output", "model"],
                "properties": {
                  "operation_type": {
                    "type": "string",
                    "enum": ["api_call", "file_read", "browser_op", "mcp_invocation", "git_op", "database_query", "instruction_context"],
                    "description": "Type of operation that consumed tokens"
                  },
                  "tokens_input": {
                    "type": "integer",
                    "description": "Input tokens consumed"
                  },
                  "tokens_output": {
                    "type": "integer",
                    "description": "Output tokens generated"
                  },
                  "model": {
                    "type": "string",
                    "description": "Model used (e.g., claude-3-5-haiku, claude-3-5-sonnet)"
                  },
                  "session_id": {
                    "type": "string",
                    "description": "Optional session ID for grouping operations"
                  },
                  "user": {
                    "type": "string",
                    "description": "Username for team attribution"
                  },
                  "file_source": {
                    "type": "string",
                    "enum": ["csv_pasted", "csv_local", "pdf_local", "pdf_url", "image_url", "stream", "mcp_stream"],
                    "description": "Source of file data (multiplier applied)"
                  },
                  "mcp_name": {
                    "type": "string",
                    "description": "MCP/Skill name (e.g., web_search, code_execution)"
                  },
                  "user_timezone": {
                    "type": "string",
                    "description": "User timezone (IANA format, e.g., America/New_York)"
                  },
                  "cloud_region": {
                    "type": "string",
                    "description": "Cloud region (e.g., us-east-1, eu-west-1)"
                  },
                  "billing_plan": {
                    "type": "string",
                    "enum": ["api", "pro", "max", "enterprise"],
                    "description": "Billing plan/tier"
                  },
                  "pricing_tier": {
                    "type": "string",
                    "enum": ["peak", "standard", "off_peak", "weekend"],
                    "description": "Time-of-day pricing tier"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Operation tracked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "operation_id": {
                      "type": "string",
                      "description": "Unique operation ID"
                    },
                    "cost": {
                      "type": "number",
                      "description": "Calculated cost"
                    },
                    "currency": {
                      "type": "string",
                      "description": "Currency code (USD, EUR, GBP, etc.)"
                    },
                    "tokens_actual": {
                      "type": "integer",
                      "description": "Total tokens (input + output)"
                    },
                    "multiplier": {
                      "type": "number",
                      "description": "Applied cost multiplier"
                    },
                    "pricing_source": {
                      "type": "string",
                      "enum": ["api", "cache", "fallback"],
                      "description": "Pricing source (api=most accurate, cache=hourly, fallback=old)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analyze_daily": {
      "get": {
        "tags": ["Analysis"],
        "summary": "Get today's cost breakdown",
        "description": "Get today's spending breakdown by operation type, file format, MCP, and more",
        "responses": {
          "200": {
            "description": "Daily cost breakdown",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "total_cost_usd": {
                      "type": "number",
                      "description": "Total cost for the day"
                    },
                    "total_tokens": {
                      "type": "integer",
                      "description": "Total tokens used"
                    },
                    "by_operation_type": {
                      "type": "object",
                      "description": "Cost breakdown by operation type"
                    },
                    "by_file_format": {
                      "type": "object",
                      "description": "Cost breakdown by file format"
                    },
                    "by_mcp": {
                      "type": "object",
                      "description": "Cost breakdown by MCP/Skill"
                    },
                    "by_billing_plan": {
                      "type": "object",
                      "description": "Cost breakdown by billing plan"
                    },
                    "pricing_source": {
                      "type": "string",
                      "description": "Pricing source used (api/cache/fallback)"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/analyze_session/{session_id}": {
      "get": {
        "tags": ["Analysis"],
        "summary": "Analyze a session's costs",
        "description": "Get detailed cost analysis for a specific session with root cause diagnosis and recommendations",
        "parameters": [
          {
            "name": "session_id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Session ID to analyze"
          }
        ],
        "responses": {
          "200": {
            "description": "Session cost analysis",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "session_id": {
                      "type": "string"
                    },
                    "total_cost_usd": {
                      "type": "number"
                    },
                    "operations_count": {
                      "type": "integer"
                    },
                    "biggest_waste": {
                      "type": "object",
                      "description": "Highest cost operation type"
                    },
                    "recommendations": {
                      "type": "array",
                      "description": "Cost optimization recommendations"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/get_recommendations": {
      "get": {
        "tags": ["Analysis"],
        "summary": "Get cost optimization recommendations",
        "description": "Get ranked recommendations for reducing costs",
        "responses": {
          "200": {
            "description": "Cost optimization recommendations",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "recommendations": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "action": {
                            "type": "string"
                          },
                          "savings": {
                            "type": "string"
                          },
                          "effort": {
                            "type": "string"
                          },
                          "roi": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Cost": {
        "type": "object",
        "properties": {
          "operation_id": {
            "type": "string"
          },
          "cost": {
            "type": "number"
          },
          "currency": {
            "type": "string"
          },
          "tokens_actual": {
            "type": "integer"
          },
          "multiplier": {
            "type": "number"
          }
        }
      }
    }
  }
}
